# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ForumServicesDevelopment/.vs
/ForumServicesDevelopment/AuthorizationServiceDevelopment/bin
/ForumServicesDevelopment/AuthorizationServiceDevelopment/obj
/ForumServicesDevelopment/ForumServiceDevelopment/bin
/ForumServicesDevelopment/ForumServiceDevelopment/obj
